@model HRMS.Core.ReqRespVm.Response.Leads.CountDashboardLeadsVM

<div class="col-md-5">
    <div class="row">
        <div class="col-md-12">
            <div class="vd_status-widget vd_bg-green widget">
                <div class="vd_panel-menu">
                    <div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"> <i class="icon-cycle"></i> </div>
                </div>
                <!-- vd_panel-menu -->

                <a class="panel-body"  asp-action="ExportCustomerLead" asp-controller="Home" asp-route-LeadTypeId="null">
                    <div class="clearfix">
                        <span class="menu-icon">
                            <i class="icon-suitcase"></i>
                        </span>
                        <span class="menu-value">
                            @Model.TotalLeads
                        </span>
                    </div>
                    <div class="menu-text clearfix">
                        Total No of Leads
                    </div>
                </a>
            </div>
        </div>
        <!--col-md-12 -->
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-xs-6">
            <div class="vd_status-widget vd_bg-grey  widget">
                <div class="vd_panel-menu">
                    <div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"> <i class="icon-cycle"></i> </div>
                </div>
                <!-- vd_panel-menu -->

                <a class="panel-body" asp-action="ExportCustomerLead" asp-controller="Home" asp-route-LeadTypeId="1">
                    <div class="clearfix">
                        <span class="menu-icon">
                            <i class="icon-bars"></i>
                        </span>
                        <span class="menu-value">
                            @Model.HotLeads
                        </span>
                    </div>
                    <div class="menu-text clearfix">
                        Hot Leads
                    </div>
                </a>
            </div>
        </div>
        <!--col-xs-6 -->
        <div class="col-xs-6">
            <div class="vd_status-widget vd_bg-blue widget">
                <div class="vd_panel-menu">
                    <div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"> <i class="icon-cycle"></i> </div>
                </div>
                <!-- vd_panel-menu -->

                <a class="panel-body" asp-action="ExportCustomerLead" asp-controller="Home" asp-route-LeadTypeId="2">
                    <div class="clearfix">
                        <span class="menu-icon">
                            <i class="icon-thermometer"></i>
                        </span>
                        <span class="menu-value">
                            @Model.WarmLeads
                        </span>
                    </div>
                    <div class="menu-text clearfix">
                        Warm Leads
                    </div>
                </a>
            </div>
        </div>
        <!--col-xs-6 -->
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-xs-6">
            <div class="vd_status-widget vd_bg-yellow widget">
                <div class="vd_panel-menu">
                    <div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"> <i class="icon-cycle"></i> </div>
                </div>
                <!-- vd_panel-menu -->

                <a class="panel-body" asp-action="ExportCustomerLead" asp-controller="Home" asp-route-LeadTypeId="3">
                    <div class="clearfix">
                        <span class="menu-icon">
                            <i class="icon-users"></i>
                        </span>
                        <span class="menu-value">
                            @Model.ColdLeads
                        </span>
                    </div>
                    <div class="menu-text clearfix">
                        Cold Leads
                    </div>
                </a>
            </div>
        </div>
        <!--col-xs-6 -->
        <div class="col-xs-6">
            <div class="vd_status-widget vd_bg-dark-red widget">
                <div class="vd_panel-menu">
                    <div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"> <i class="icon-cycle"></i> </div>
                </div>
                <a class="panel-body"  asp-action="ExportCustomerLead" asp-controller="Home" asp-route-LeadTypeId="0">
                    <div class="clearfix">
                        <span class="menu-icon">
                            <i class="fa fa-tasks"></i>
                        </span>
                        <span class="menu-value">
                            @Model.IncompleteLeads
                        </span>
                    </div>
                    <div class="menu-text clearfix">
                        Pending Leads
                    </div>
                </a>
            </div>
        </div>
        <!--col-md-xs-6 -->
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="vd_status-widget vd_bg-red widget">
                <div class="vd_panel-menu">
                    <div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"> <i class="icon-cycle"></i> </div>
                </div>
                <!-- vd_panel-menu -->

                <a class="panel-body" asp-action="ExportCustomerLead" asp-controller="Home" asp-route-LeadTypeId="4">
                    <div class="clearfix">
                        <span class="menu-icon">
                            <i class="icon-users"></i>
                        </span>
                        <span class="menu-value">
                            @Model.NotInterested
                        </span>
                    </div>
                    <div class="menu-text clearfix">
                        Not-Interested Leads
                    </div>
                </a>
            </div>
        </div>
        
    </div>
    <!-- .row -->

</div>