@model IEnumerable<HRMS.Core.ReqRespVm.Response.Leads.LeadsBySupervisorVM>

<div class="panel-body table-responsive">
    <table class="table table-striped" id="data-tables">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Level</th>
                <th>Lead</th>
                <th>Called</th>
                <th>Pending</th>
                <th>Hot</th>
                <th>Warm</th>
                <th>Cold</th>
                <th>Not Interested</th>
                <th>Lead Convert To Client</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@item.Level</td>
                    <td><a>@item.Leads</a></td>
                    <td><a>@item.Called</a></td>
                    <td><a>@item.Pending</a></td>
                    <td><a>@item.Hot</a></td>
                    <td><a>@item.Warm</a></td>
                    <td><a>@item.Cold</a></td>
                    <td><a>@item.NotInterested</a></td>
                    <td><a>@item.LeadConvertedToClient</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>